
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li{
  list-style-type: none;
  display: inline;
}
body{
  font-family: Arial, Helvetica, sans-serif;
}
.bg{
  position: relative;
}
.slide-container{
  top:0;
  left: 0;
  z-index: -2;
  height: 100vh;
}